.idea/
.vscode/
.cursor/
.DS_Store
venv/
.venv/
.python-version
.ruff_cache/
.pytest_cache/
config.yaml
# *.yaml
.env
*.mp4
/logs/
/log/
/models/
/scripts/kafka/data/
/worker/vlm_worker_config.yaml
**/__pycache__/
*.pyc
/memory_storage/
